header {
  background-color: darkcyan;
  height: 80px;
}
.caixa {
  position: relative;
  width:  950px;
  margin: 0 0 auto;
  
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  top: 20px;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}
nav a {
  text-transform: uppercase;
}

#imagem {
  width: 200px;
  border-radius: 50%;
}
.nome {
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-size: 20px;
}
