.title {
  background-color: darkcyan;
  t
  padding: 50px;
}

#imagem {
  width: 200px;
  border-radius: 50%;
}
.nome {
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-size: 20px;
}
